Source: leste-config
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper (>= 10), config-package-dev (>= 5.0)
Standards-Version: 4.3.0

Package: leste-config-common
Architecture: all
Depends: ${misc:Depends}, hildon-base
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Maemo Leste configurations - Common
 This package contains common configuration files for
 Maemo Leste systems.

Package: leste-config-n900
Architecture: all
Section: n900
Depends: ${misc:Depends}, leste-config-common
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Maemo Leste configurations - N900
 This package contains configuration files for Maemo
 Leste on the Nokia N900.

Package: leste-config-droid4
Architecture: all
Section: droid4
Depends: ${misc:Depends}, leste-config-common
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Maemo Leste configurations - Droid4
 This package contains configuration files for Maemo
 Leste on the Motorola Droid4.

Package: leste-config-bionic
Architecture: all
Section: bionic
Depends: ${misc:Depends}, leste-config-common
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Maemo Leste configurations - Droid Bionic
 This package contains configuration files for Maemo
 Leste on the Motorola Bionic.

Package: leste-config-pinephone
Architecture: all
Section: pinephone
Depends: ${misc:Depends}, leste-config-common
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Maemo Leste configurations - Pinephone
 This package contains configuration files for Maemo
 Leste on the Pine64 Pinephone.

Package: leste-config-pinetab
Architecture: all
Section: pinephone
Depends: ${misc:Depends}, leste-config-common
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Maemo Leste configurations - Pinetab
 This package contains configuration files for Maemo
 Leste on the Pine64 Pinetab.
